<ul class="mayor-ballot js-ballot" data-ref="{{=it.section.ref}}">
    <li class="mayor-ballot__entry">
        <span class="mayor-ballot__entry__name">Candidate</span>
        <span class="mayor-ballot__entry__vote">1st</span>
        <span class="mayor-ballot__entry__vote">2nd</span>
    </li>
    {{~it.section.candidates :candidate:i}}
    <li class="mayor-ballot__entry
                {{?i === it.section.first}}
                    is-{{=it.section.firstStatus}}
                {{??i === it.section.second}}
                    is-second is-{{=it.section.secondStatus}}
                {{?}}">
            <span class="mayor-ballot__entry__name">{{=candidate}}</span>
            <span class="mayor-ballot__entry__vote">
                {{?i === it.section.first}}
                    <img src="<%= path %>/assets/imgs/mark.png" />
                {{?}}
            </span>
            <span class="mayor-ballot__entry__vote">
                {{?i === it.section.second}}
                    <img src="<%= path %>/assets/imgs/mark.png" />
                {{?}}
            </span>
        </li>
    {{~}}
</ul>
